
/* ngx-paginate ::ng-deep .page-entry {
    background-color: black;
    color: yellow;
  }
  ngx-paginate ::ng-deep .page-entry.active {
    background-color: blue;
    color: red;
  } */

  .custom-pagination .page-number{
    display: inline-block;
    /* padding: 5px 12px; */
    background: #afffe6;
    margin: 0px 4px;
    border-radius: 25px;
}

.page-number.current{
    background: #ffffff!important;
    border: 2px solid #458873;
}

.page-number span{
    display: block;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
}

.pagination-previous,.pagination-next{
    display: inline-block;
    font-weight: bold;
}



.wrap-blog {

  .heading {
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  }
  .body, .heading {
    padding: 10px;
    background-color: #f6f8fb;
    h4 {
      margin: 0;
    }
  }
}

.add-keyword {
  font-size: 28px;
  margin-top: 10px;
}

.checkbox-group {
  mat-checkbox {
    display: inline-block;
    margin: 5px 20px 0 0;
  }
}

.custom-table {
  margin-top: 10px;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.label {
  max-width: 169.4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), inset 0 0 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  text-transform: uppercase;
  color: #000;
  padding: 10px;
  text-align: center;
  font-family: $bold;
}

.align-center {
  text-align: center;
}
