<!-- <app-second>data show here</app-second> -->
<app-header [ngNumber]="12414770"></app-header>
<!-- <form [formGroup]="myForm" novalidate (ngSubmit)="update(myForm)">
<span >
    <label>grade</label>
    <input type="text" class="form-control" required formControlName="grade">
    <label>measureCode</label>
    <input type="text" class="form-control" required formControlName="measureCode">
    <label>measureName</label>
    <input type="text" class="form-control" required formControlName="measureName">
    <label>markingPeriod</label>
    <input type="text" class="form-control" required formControlName="markingPeriod">
    <label>ell</label>
    <input type="text" class="form-control" required formControlName="ell">
  </span>
 <hr>
  <br>
  <button type="submit" >update all</button>
<table>
  <tr>
    <td><b>grade</b></td>
    <td><b>measureCode</b></td>
    <td><b>measureName</b></td>
    <td><b>markingPeriod</b></td>
    <td><b>ell</b></td>
    <td><b>action</b></td>
    </tr>
    <tr *ngFor = "let data of dataArray ; let i = index" >
        <td>{{data.grade}}</td>
        <td>{{data.measureCode}}</td>
        <td>{{data.measureName}}</td>
        <td>{{data.markingPeriod}}</td>
        <td>{{data.ell}}</td>
        <button (click)= "del(i)">delete</button>
    </tr>
</table>
</form>
<button (click)="add()" > all</button>
<iframe src="https://www.surveygizmo.com/"></iframe> -->
<!-- <ng-container >
  <div *ngFor= "let book of books">
  {{book}}
  </div>

  </ng-container> -->
  <!-- <ul >
    <ng-template  ngFor let-book [ngForOf]="books">
    <li>{{book}}</li>
    </ng-template>
    </ul> -->
    
  <!-- <ng-template [ngIf] = "conditions1">Condition is valid from template</ng-template> -->
<!-- <button (click)="fun()" >click</button>   -->